<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WSWorkFlow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="xnvaufit_NganHangConnectionString" connectionString="Data Source=123.30.174.126;Initial Catalog=xnvaufit_NganHang;Persist Security Info=True;User ID=xnvaufit_nganhang;Password=12344321" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.net>
		<settings>
			<servicePointManager expect100Continue="false"/>
		</settings>
	</system.net>
	<applicationSettings>
		<WSWorkFlow.Properties.Settings>
			<setting name="WSWorkFlow_EMVServices_EMVServices" serializeAs="String">
				<value>http://www.is.fit.hcmus.edu.vn/EMV_Service/EMVServices.asmx</value>
			</setting>
		</WSWorkFlow.Properties.Settings>
	</applicationSettings>
</configuration>
