body
{
	margin-top: 0px;
	background-image: url(../../Images/Picture1.png);
}
a
{
	text-decoration:none;	
}
a:hover
{
	font-weight:bold;
}
ul
{
	list-style:none;
}
/*=====Container======*/
#container
{
	background-color:Transparent;
	width:780px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}
/*=====Header======*/
#Header
{
	background-color: Gray;
	height: 100px;
	float: inherit;
	clear: both;
	margin: 0px;
}

/*=====MenuTop======*/
#Menutop
{
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 22px;
	font-size: 12px;
	
}
/*=====Footer======*/
#Footer
{
	background-color: #deeee9;
	height: 25px;
	clear: both;
	margin: 0px;
	float: inherit;
	text-align: center;
	vertical-align: middle;
}
/*=====Content======*/
#Content
{
	float: left;
	width: 79%;
	margin:3px 0px 7px 5px;
	padding-bottom:10px;
	background-color:Transparent;
	padding-left:5px;
	border: #4dd5ff thin solid;
}
#Content ul
{
	margin-top:2px;
	border:solid thin #4dd5ff;
	list-style:none;
	width:200px;
}
#Content li
{
	border-bottom-style:dotted;
	border-bottom-color:Black;
	border-bottom-width:1px;
	padding-left:10px;
}
/*=====Menu trái======*/
#Nav
{
	width: 19%;
	padding: 0px;
	margin: 0px;
	float: left;
	height: auto;
	background-color:Transparent;
}
#Nav ul
{
	margin: 3px 0px 2px 0px;
	list-style: none;
	padding: 0px;
	border: #4dd5ff thin solid;
}
#Nav li 
{
	 margin:0px; 
	 height:inherit; 
	 vertical-align:middle; 
	 padding:3px 0px 0px 10px ;
	 border-bottom:dotted 1px #4dd5ff;
}
#Nav a{ color:#FF00FF;}
#Nav a:hover {color:#FFFFFF;}
#Nav HyperLink{ color:Black;}
.title
{
	background-color: #4dd5ff;
	font-weight:bold;
	text-align:left;
	padding-left:0px;
}
/*=====SubMenu trái======*/
#SubNav li{padding-left:20px; margin:auto; font-weight:normal;}

/*=====Empty======*/
#Empty
{
	clear:both;
	height:1px;
}
