@charset "utf-8";
/* CSS Document */

	
/*TASKBAR*/
#taskbar a img{
	border:0;
	}
#taskbar{
	height:33px;
	width:100%;
	top:0;
	left:0;
	position:fixed;
	bottom:auto;
	z-index:9999999;
	border-bottom:1px solid #fff;
	background:url(../images/bg-taskd.gif) repeat-x 0 0;
	}
.taskbar{
	width:940px;
	margin:0 auto;
	}
.taskbar-sort{
	width:75%;
	float:left;
	}
.taskbar-support{
	width:21%;
	margin-top:5px;
	float:right;
	}
.taskbar-sort li{
	float:left;
	list-style:none;
	margin-top:5px;
	}
.taskbar-sort li a, .taskbar-sort li a span{
	height:28px;
	display:block;
	float:left;
	}
.taskbar-sort li a{
	padding-left:10px;
	color:#eee;
	line-height:28px;
	}
.taskbar-sort li a span{
	padding-right:10px;
	}
.taskbar-sort li a.active, .taskbar-sort li a:hover{
	color:#444;
	text-decoration:none;
	background:url(../images/bg-taske.gif) no-repeat 0 0;
	}
.taskbar-sort li a.active{
	color:#333;
	font-weight:bold;
	}
.taskbar-sort li a.active span, .taskbar-sort li a:hover span{
	background:url(../images/bg-taske.gif) no-repeat 100% 0;
	}
.taskbar-support a.bt-support{
	height:23px;
	width:212px;
	display:block;
	float:right;
	text-indent:-3000px;
	background:url(../images/bg-btn-t.gif) repeat-x 0 0;
	}
.taskbar-support a.bt-support:hover, .taskbar-support a.bt-support.active{
	background:url(../images/bg-btn-t.gif) repeat-x 0 -23px;
	height:28px;
	}
	
.taskbar-sort li a .icon-tasbar-nl, .taskbar-sort li a .icon-tasbar-pp{
	width:17px;
	height:17px;
	padding:0;
	display:block;
	margin:6px 5px 0 0;
	}
 .taskbar-support a.bt-support span.icon-support{
 	margin:4px 5px 0 0;
	float:left;
	height:16px;
	width:16px;
	}
.taskbar-sort li a span.icon-tasbar-nl{
	background:url(../images/icon-nl-taskbar.gif) no-repeat 0 0;
	}
.taskbar-sort li a.active .icon-tasbar-nl, .taskbar-sort li a:hover .icon-tasbar-nl{
	background:url(../images/icon-nl0.gif) no-repeat 0 0;
	}
.taskbar-sort li a .icon-tasbar-nl{
	background:url(../images/icon-nl0.gif) no-repeat 0 0;
	}
.taskbar-sort li a .icon-tasbar-pp{
	background:url(../images/icon-pp1.png) no-repeat 0 -22px;
	}
.taskbar-sort li a.active .icon-tasbar-pp, .taskbar-sort li a:hover .icon-tasbar-pp{
	background:url(../images/icon-pp1.png) no-repeat 0 0;
	}

#support{
	width:940px;
	color:#555;
	border-bottom:1px solid #ccc;
	height:26px;
	margin-top:36px;
	}

.support-content-email{
	background:url(../images/icon-mail.gif) no-repeat 0 -1px;
	padding-left:24px;
	}
.support-content-mobile{
	background:url(../images/phone-icon.gif) no-repeat 0 0px;
	padding-left:24px;
	height:16px;
	}
.support-content-hotline{
	background:url(../images/hotline.gif) no-repeat 0 -2px;
	padding-left:18px;
	height:16px;
	}
#support-fone{
	float:left;
	}
#support-online{
	float:right;
	}
#support-online a.bt-support{
	margin-top:5px;
	display:block;
	padding-left:20px;
	background:url(../images/icon-bt-help.gif) no-repeat 0 2px;
	}
#support-online a.bt-support:hover{
	color:#ff5a00;
	text-decoration:none;
	}
.support-content{
	background:#fdfdfd url(../images/bg-support-content.gif) repeat-x 0 100%;
	width:560px;
	padding:5px;
	margin:28px 0 0 -375px;
	_margin:28px 0 0 -370px;
	display:none;
	-moz-box-shadow:1px 2px 3px #aaa;
	-moz-border-radius:0 0 3px 3px;
	border:1px solid #444;
	border-top:0;
	z-index:9999999;
	position:absolute;
	}
.cl-box{
	background:url(../images/icon-clear-overview.gif) no-repeat 0 0;
	height:16px;
	width:16px;
	float:right;
	}
.support-content h3, .support-content h4{
	font-size:12px;
	}
.support-content h3{
	color:#ff5a00;
	text-transform:uppercase;
	margin-bottom:10px;
	border-bottom:1px dashed #eee;
	}
.support-content h4{
	margin:20px 0 10px 0;
	height:10px;
	border-bottom:1px dotted #eee;
	}
.support-content h4 span{
	background:#fff;
	color:#006699;
	padding-right:5px;
	}
.support-content li{
	list-style:none;
	margin-bottom:5px;
	overflow:hidden;
	margin-left:10px;
	margin-bottom:10px;
	line-height:16px;
	}
.support-content li span{
	float:left;
	display:block;
	margin-right:30px;
	}
.support-content li span.end{
	margin-right:0px;
	}
.support-content li label{
	float:left;
	width:80px;
	display:block;
	font-weight:bold;
	}
.support-content li a{
	display:block;
	float:left;
	}
.support-content li span img{
	float:left;
	margin-right:5px;
	}
#support-fone span{
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #eee;
	}
#support-fone .end{
	border-right:0;
	padding-right:0;
	margin-right:0;
	}