@charset "utf-8";
/* CSS Document */

/*deposit 03-06-2011*/
.deposit-list{
	margin-top:10px;
	border:1px solid #ccc;padding:5px;
	}
.deposit-list-row{
	overflow:hidden;
	margin-bottom:5px;
	clear:both;
	}
.deposit-list-row ul, .deposit-list-row .label-bank{
	display:none;
	
	}
.deposit-list-row.active ul, .deposit-list-row.active .label-bank{
	display:block;
	}
.deposit-list-row ul{
	margin-left:10px;}
.deposit-list-row ul li{
	float:left;
	list-style:none;
	width:105px;
	margin:5px 4px 0 4px;
	}
.deposit-list-row ul li.last{
	margin-right:0;
	}
.deposit-list-row li a{
	width:95px;
	height:42px;
	display:block;
	float:left;
	overflow:hidden;
	text-align:center;
	padding:5px 10px 0 5px;
	background:url(../../Content/images/bg-logo-.gif) no-repeat 50% 50%;
	}
.deposit-list-row h3{
	font-size:12px;
	font-weight:normal;
	background:url(../../Content/images/bg-title.gif) repeat-x 0 50%;
	}
.deposit-list-row h3 a{
	background:#fff;
	padding-right:5px;
	}
.deposit-list-row h3 a:hover{
	text-decoration:none;
	}
.deposit-list-row h3 a.active .deposit-name{
	font-weight:bold;
	}
.deposit-list-row h3 .deposit-step{
	color:#777;
	padding-left:15px;
	text-decoration:underline;
	background:url(../../Content/images/toggle_p.png) no-repeat -2px 1px;
	}
.deposit-list-row h3 a.active .deposit-step{
	background:url(../../Content/images/blue_col.png) no-repeat -2px 0;
	}
.deposit-list-row h3 .deposit-charge{
	color:#ff5a00;
	}
.deposit-list-row h3 .deposit-alert{
	color:#999;
	}
.deposit-list-row h3 a .deposit-alert{
	display:none;
	font-size:11px;
	font-style:italic;
	}
.deposit-list-row h3 a.active .deposit-alert{
	display:inline-block;
	}
.deposit-list-row .label-bank{
	clear:both;
	margin-left:6px;
	}
.deposit-list-row .label-bank a{
	display:inline-block;
	height:42px;
	width:400px;
	margin-top:-10px;
	_margin-top:-5px;
	background:url(../../Content/images/vcb-tien-trieu.png) no-repeat 0 0;
	*background:url(../../Content/images/vcb-tien-trieu.jpg) no-repeat 0 0;
	}